<%= render 'errors' %>
<%= flash_message %>

<div class="container">
<h1><%= @list.name %></h1>
<p>Description: <%= @list.description %></p>
<p>Budget: $<%= @list.budget %></p>

<table class="table">
        <tbody>
            <tr>
                <td>
                    Item
                </td>
                <td>
                    Qty
                </td>
                <td>
                    Price
                </td>
            </tr>
        <% @list.items.each do |item| %>
<tr>
    <td>
        <%= item.name %>   
    </td>
    <td>
        <%= item.qty %>
    </td>
    <td>
        $<%= item.item_cost %>
    </td>
<% end %>
<tr>
<td>
    <th>
        Total: $<%= @list.list_cost %>  
    </th>
</td>
</tr>
<%= @list.budget_result %>
<br>
<br>
<td>
<%= render 'items/form' %>
</td>
</tbody>
</table>
<p><%= button_to 'Edit list', edit_list_path(@list), :method => :get %></p>
<%= button_to 'Delete list', list_path(@list), :method => 'delete' %></p>

<p>Category: <% @list.categories.uniq.each do |cat| %>
<%= link_to cat.name, cat %>
<% end %>
</div>


