<%= flash_message %>

<% if name = session[:name] %>

  <h1>Welcome <%= name -%>!!! </h1> 

   
        <%= category_empty? %>

       <ol>

        <% @user.categories.order(:name).each do |category| %>
        
            <li> 
                <%= link_to category.name, category_path(category) %> 
            </li>
        
                    <% category.lists.each do |list| %>
                <ul>
                    <li>
                        <%= link_to list.name, category_list_path(category, list) %>
                    </li>
                </ul>  
        
                    <% end %>
        <% end %>
        </ol>

    <br>

<p><%= link_to 'Create a new list', new_list_path %></p>
<p>Create a new category</p>
<%= form_for @category do |f| %>
<%= f.text_field :name %>
<%= f.hidden_field :user_id, :value => @user.id %><br>
<%= f.submit 'Create Category' %><br>
<% end %>

    <br>




    <p><%= link_to 'Log out', logout_path, method: :delete %></p>
<% else %>
    <h1> Please <%= link_to 'sign up', signup_path %> or <%= link_to 'log in', login_path %> </h1>
<% end %>