<%= flash_message %>

<% if name = session[:name] %>

  <h1>Welcome <%= name -%>!!! </h1> 

        <h3>Lists</h3>
        <% @user.lists.order(:name).each do |list| %>

            <p>
                <%= link_to list.name.capitalize, list %>
            </p>

        <% end %>

    <p><%= link_to 'Create a new list', new_list_path %></p>

        <h3>Categories</h3>
        <%= category_empty? %>

       <ol>

        <% @user.categories.order(:name).each do |category| %>
        
            <li> 
                <%= link_to category.name.capitalize, category_path(category) %> 
            </li>
        
        <% end %>
        </ol>

    <br>


<p>Create a new category</p>
<%= form_for @category do |f| %>
<%= f.text_field :name %>
<%= f.hidden_field :user_id, :value => @user.id %><br>
<%= f.submit 'Create Category' %><br>
<% end %>

    <br>




    <p><%= link_to 'Log out', logout_path, method: :delete %></p>
<% else %>
    <h1> Please <%= link_to 'sign up', signup_path %> or <%= link_to 'log in', login_path %> </h1>
<% end %>