
    <% if name = session[:name] %>

    <%= flash_message %>
<div class="center">
    <div class="info">
    <h1>
        Welcome <%= name %>!!! 
    </h1> 

    <br>

    <% if admin? %>
        <p> <%= link_to 'View users', all_users_path %> </p>
        <p>  <%=link_to 'View lists', lists_path %> </p>
        <p> <%= link_to 'View categories', categories_path %></p>
        <p>Admin</p>
    <% else %>

        <h3>Lists</h3>
        <%= list_info %>
        

        <% current_user.lists.order(:name).each do |list| %>

            <p>
                <%= link_to list.name.capitalize, list %>
            </p>

        <% end %>

    <p><%= button_to 'Create New list', new_list_path, :method => 'get' %></p>

    <br>

        <h3>Categories</h3>
        <%= category_empty? %>
    
       <ol>

        <% current_user.categories.order(:name).each do |category| %>
        
            <li> 
                <%= link_to category.name.capitalize, category_path(category) %> 
            </li>
        
        <% end %>
        </ol>

    <br>


<p>Create a new category</p>
<%= render partial: '/categories/form', locals: {category: @category} %>

    <br>
        <% if current_user.lists.nil? %>
            
        <% else %>
        <%= render 'search' %>
        <% @lists.each do |list| %>
            <li><%= link_to list.name, list %></li>
        <% end %> 
        <% end %>


    <% end  %>
        </div>
</div>
   
        
<% else %>
    <div class="center">
        <div class="info">
        <h1>Welcome to Budget-Lister!</h1>
        <p>A helpful budgeting app</p>
        <img src="/assets/budget.png" alt="calculator_image" class="img-responsive" width = "40%">
        <%# <img src="/notepad.png" alt="notebook_image" class="image"> %>
        </div>
    </div>
<% end %>
