<h1><%= @category.name %></h1>
<ol>
<% @category.lists.each do |list| %>
    <li>
        <%= list.name %>
    </li>
    <% end %>
</ol>

<p><%= link_to 'Create a new list', new_list_path %></p>


<p><%= link_to 'Home', root_path %>  <%= link_to 'Log out', logout_path, method: :delete %></p>