<% if admin? %>
    <p>Lists:</p>
    <%= category_lists_empty? %>

    <% @category.lists.each do |list| %>
    <li><%= link_to list.name, list %></p>
    <% end %>

    <p><%= render partial: 'form', locals: {category: @category} %></p>
    <p><%= render 'delete' %></p>

    <p><%= render 'users/home' %>  <%= render 'users/logout' %></p>

<% else %>


<%= render partial: 'errors', locals: {category: @category} %>

<h1><%= @category.name %></h1>
<%= category_lists_empty? %>

<ol>
    <% @category.lists.uniq.each do |list| %>

    <li>
        <%= link_to list.name, category_list_path(@category, list) %>
    </li>
    <% end %>
</ol>

<p><%= render 'edit' %></p>
<p><%= render 'delete' %></p>

<p><%= link_to 'Create a new list', new_category_list_path(@category) %></p>


<p><%= render 'users/home' %>  <%= render 'users/logout' %></p>

<% end %>