<%= render partial: 'errors', locals: {category: @category} %>

<h1><%= @category.name %></h1>

<ol>
    <% @category.lists.each do |list| %>

    <li>
        <%= link_to list.name, category_list_path(list) %>
    </li>
    <% end %>
</ol>

<p><%= render 'edit' %></p>
<p><%= render 'delete' %></p>

<p><%= link_to 'Create a new list', new_category_list_path(@category) %></p>


<p><%= render 'users/home' %>  <%= render 'users/logout' %></p>