<h1><%= @category.name %></h1>
<ol>
<% @category.lists.each do |list| %>
    <li>
        <%= link_to list.name, category_list_path(list) %>
    </li>
    <% end %>
</ol>

<%= button_to 'Edit Category', edit_category_path(@category), :method => :get %>

<p><%= link_to 'Create a new list', new_category_list_path(@category) %></p>


<p><%= link_to 'Home', root_path %>  <%= link_to 'Log out', logout_path, method: :delete %></p>